# Panna SDK Credentials (dari https://panna.network)
NEXT_PUBLIC_PANNA_CLIENT_ID=
NEXT_PUBLIC_PANNA_PARTNER_ID=

# Lisk Sepolia Network
NEXT_PUBLIC_CHAIN_ID=

# Mawar Finance Contract Addresses (Lisk Sepolia)
NEXT_PUBLIC_MFI_TOKEN_ADDRESS=
NEXT_PUBLIC_SAVINGS_NFT_ADDRESS=
NEXT_PUBLIC_EXCHANGE_ADDRESS=
NEXT_PUBLIC_SAVINGS_VAULT_ADDRESS=
